{% extends 'base.html' %} 

{% block title %} Página Inicial - Meu Site {%endblock %} 

{% block content %}

<h1>Minha Lista de Tarefas (do Banco de Dados):</h1>

<ul>
{% for tarefa in tarefas %}
    <li>
    {{ tarefa.titulo }}
    {% if tarefa.concluida %}
        (✓ Concluída)
    {% else %}
        (☐ Pendente)
    {% endif %} <br />
    <small>Criada em: {{ tarefa.criada_em }}</small>
    </li>
    {% empty %}
    <li>Você ainda não tem tarefas cadastradas.</li>
    {% endfor %}
</ul>
{% endblock %}
